#feedback-button{
  position: fixed;
  right: 0;
  top: 225px;
  z-index: 999999;
}

#feedback {
  display: none;
  z-index: 0435636969;
  position: absolute;
  top: 0;
  left: 0;
  font: 12px Arial, Helvetica, Sans-serif;
}

#feedback ::before{
  content: none;
}

#feedback ::after {
  content: none;
}

#feedback .msg-box {
  display: none;
  position: absolute!important;
  background-color: #fff;
  left: 200px;
  top: 0;
  max-width: 200px;
  padding: 10px;
  z-index: 9999;
  border-radius: 5px;
  
  -moz-box-shadow: 0 0 10px rgba(50, 50, 50, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.6);
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.6);
}

#feedback .msg-box .msg-icon {
  width: 10%;
  position: absolute;
}

#feedback .msg-box .msg-content {
  padding-left: 20px;
}

#feedback .screen {
  position: fixed!important;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

#feedback .mask {
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000 !important;
  opacity: 0.6;
}

#feedback .form {
  padding: 10px;
  width: 600px;
  height: 50px;
  overflow: hidden;
  position: fixed;
  background-color: #fff;
  top: 100px;
  left: 300px;

  -moz-box-shadow: 0 0px 3px rgba(162,162,162,.6);
  -webkit-box-shadow: 0 0px 3px rgba(162,162,162,.6);
  box-shadow: 0 0px 3px rgba(162,162,162,.6);
}

#feedback .content {
  border: 1px solid #C5CEDA;
  padding: 10px;
  background-color: #F8F8F8;
}

#feedback .header {
  font-size: 17px;
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}

#feedback .intro {
  color: #444;
  margin-bottom: 6px;
  line-height: 1.4;
}

#feedback .select-intro {
  color: #444!important;
  margin-bottom: 3px!important;
  line-height: 1.3!important;
}

#feedback .select-wrapper {
  position: relative!important;
  width: 100%;
  margin: 5px 0;
}

#feedback .score {
  margin-bottom: 10px;
}

#feedback .score td {
  width: 9%;
  vertical-align: middle;
}

#feedback .select {
  border-collapse: separate!important;
  border-spacing: 1px!important;
  cursor: pointer!important;
}

#feedback .select td a {
  display: block!important;
  position: relative!important;
  padding: 10px 10px;
  text-align: center!important;
  font-weight: bold!important;
  color: #1A72A2!important;
  outline: none!important;
  text-decoration: none!important;
}

#feedback .select-on {
  position: absolute!important;
  visibility: hidden;
  background-color: #F63!important;
  z-index: 2!important;
  border-spacing: 2px!important;
}

#feedback .select-on td {
  background-color: #fff!important;
}

#feedback .select-on td a {
  color: #F63!important;
  padding: 8px 10px !important;
}

/* I am so fucking sorry for this ;( */
@-moz-document url-prefix() {
  #feedback .select-on td a {
    padding: 9px 10px !important;
  }
  #feedback .cat-arrow img {
    top: -2px !important;
  }
}

#feedback .select-off {
  width: 100%;
  background-color: #AAA!important;
}

#feedback .select-off td {
  background-color: #fff;
}

#feedback .category {
  position: relative;
  z-index: 2;
}

#feedback .select-contain {
  position: relative;
}

#feedback .cat-table {
  
}

#feedback .cat-arrow {
  position: relative!important;
  z-index: 10!important;
}

#feedback .cat-arrow img {
  position: absolute!important;
  top: -1px;
  left: -1000px;
  z-index: 10!important;
}

#feedback .message-wrapper {
  position: relative!important;
  overflow-y: hidden!important;
  background-color: #fff!important;
  border: 1px #AAA solid!important;
  border-top: 0!important;
  padding: 12px 12px 12px!important;
  overflow-y: auto!important;
  top: -5px;
  display: none;
}

#feedback .text {
  margin-bottom: 5px!important;
  color: #666!important;
  font-size: 11px!important;
}

#feedback .text h3 {
  font-size: 14px!important;
  font-weight: bold!important;
  margin: 0 0 2px!important;
  color: #F63!important;
}

#feedback .text-wrapper {
  border: 1px #AAA solid!important;
  padding: 4px!important;
  background: white url(../img/input_shad.jpg) repeat-x!important;
}

#feedback textarea {
  width: 524px;
  height: 80px;
  outline: none!important;
  resize: none!important;
  line-height: 1.4em!important;
  overflow-y: auto!important;
  border: none!important;

  box-shadow: none !important;
}



#feedback .footer {
  height: 35px;
  color: #999;
  position: relative;
}

#feedback .buttons {
  position: absolute!important;
  right: 0!important;
  top: 9px;
}

#feedback .buttons a {
  text-decoration: none !important;
}

#feedback .send-button {
  float: left!important;
  margin-right: 5px!important;
  cursor: pointer!important;
}

/*#feedback .footer .send-button a {
  height: 20px; 
  color: #FFF; 
  border-radius: 3px; 
  border:none; 
  padding: 0 10px; 
  font-size: 12px; 
  padding: 10px;
  background-color: #930304;
  background-image: linear-gradient(bottom, #930304, #BF2840);
  background-image: -o-linear-gradient(bottom, #930304, #BF2840);
  background-image: -moz-linear-gradient(bottom, #930304, #BF2840);
  background-image: -webkit-linear-gradient(bottom, #930304, #BF2840);
  background-image: -ms-linear-gradient(bottom, #930304, #BF2840);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(#930304), color-stop(#BF2840));
}
#feedback .footer .send-button a:active {
  background-image: linear-gradient(bottom, #930304, #830304);
  background-image: -o-linear-gradient(bottom, #930304, #830304);
  background-image: -moz-linear-gradient(bottom, #930304, #830304);
  background-image: -webkit-linear-gradient(bottom, #930304, #830304);
  background-image: -ms-linear-gradient(bottom, #930304, #830304);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(#930304), color-stop(#830304));
}*/

#feedback .cancel-button {
  float: left;
  margin-left: 10px;
}

#feedback .email.content .input label {
  font-size: 14px;
  color: #666;
  padding-right: 5px;
}

#feedback .email.content .input input {
  background: #fff url(../img/input_shad.jpg) repeat-x!important;
  border: 1px solid #B0BCCC!important;
  padding: 4px!important;
  font-size: 14px!important;
  width: 90%;
}

#feedback .indicator {
  background: url(../img/loading_anim.gif)!important;
  position: absolute!important;
  visibility: hidden!important;
  top: 4px;
  left: -21px;
  width: 16px;
  height: 16px;
}

#feedback .footer a {
  color: #000;
  height: 26px;
  line-height: 26px!important;
}

#feedback .footer a.close {
  float: none;
  font-size: 13px !important;
  font-weight: normal;
  opacity: 1;
  margin-left: 10px;
}